

.celestedegradado{
     background: rgba(41,184,229,1);
    background: -moz-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,1) 12%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 95%);
    background: -webkit-gradient(left top, left bottom, color-stop(10%, rgba(41,184,229,1)), color-stop(12%, rgba(41,184,229,1)), color-stop(89%, rgba(255,255,255,1)), color-stop(95%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,1) 12%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 95%);
    background: -o-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,1) 12%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 95%);
    background: -ms-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,1) 12%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 95%);
    background: linear-gradient(to bottom, rgba(41,184,229,1) 10%, rgba(41,184,229,1) 12%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29b8e5', endColorstr='#ffffff', GradientType=0 );
}
.negrodegradado{
    background: rgba(27,32,33,1);
    background: -moz-linear-gradient(top, rgba(27,32,33,1) 0%, rgba(102,106,106,1) 33%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,32,33,1)), color-stop(33%, rgba(102,106,106,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(27,32,33,1) 0%, rgba(102,106,106,1) 33%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(27,32,33,1) 0%, rgba(102,106,106,1) 33%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(27,32,33,1) 0%, rgba(102,106,106,1) 33%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(27,32,33,1) 0%, rgba(102,106,106,1) 33%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2021', endColorstr='#ffffff', GradientType=0 );
}
.azuldegradado{
    background: rgba(192,198,204,1);
background: -moz-linear-gradient(top, rgba(192,198,204,1) 0%, rgba(192,198,204,1) 40%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192,198,204,1)), color-stop(40%, rgba(192,198,204,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(192,198,204,1) 0%, rgba(192,198,204,1) 40%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(192,198,204,1) 0%, rgba(192,198,204,1) 40%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(192,198,204,1) 0%, rgba(192,198,204,1) 40%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(192,198,204,1) 0%, rgba(192,198,204,1) 40%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c6cc', endColorstr='#ffffff', GradientType=0 );
}
.grisdegradado{
    background: rgba(242,244,245,1);
background: -moz-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(214,214,214,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,244,245,1)), color-stop(50%, rgba(214,214,214,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(214,214,214,1) 50%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(214,214,214,1) 50%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(242,244,245,1) 0%, rgba(214,214,214,1) 50%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(242,244,245,1) 0%, rgba(214,214,214,1) 50%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4f5', endColorstr='#ffffff', GradientType=0 );
}
.degvega{
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0 );
}
.degnoshok{
    background: rgba(0,0,61,1);
    background: -moz-linear-gradient(top, rgba(0,0,61,1) 0%, rgba(0,133,200,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,61,1)), color-stop(100%, rgba(0,133,200,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,61,1) 0%, rgba(0,133,200,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,61,1) 0%, rgba(0,133,200,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,61,1) 0%, rgba(0,133,200,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,61,1) 0%, rgba(0,133,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00003d', endColorstr='#0085c8', GradientType=0 );
}
.degabb{
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0 );
}
.degmerrick{
    background: rgba(196,228,235,1);
    background: -moz-linear-gradient(top, rgba(196,228,235,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,228,235,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(196,228,235,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(196,228,235,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(196,228,235,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(196,228,235,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4e4eb', endColorstr='#ffffff', GradientType=0 );
}


.carousel-indicators li {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #00A3C3;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);    
}
.carousel-indicators .active {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #00A3C3;
    box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.6);
}