html,
body {
  height: 100%;
  margin: 0;
  /*overflow: hidden;
  overflow-x:hidden;
  overflow-y:hidden;*/
 background-color: #F8F9F9;
}
::-webkit-scrollbar { 
    display: none; 
}
.leseccion{
        float: left;
        width: 100vw;
        height: 100vh;
  
}
.leseccionx{
        
  
}
.white{
    background-color: white;
}
.negro{
    background-color: #000;
}
.gray{
     background-color: #EEEEEE;
}
.contenedor{
    width: 90%;
    height: auto;
    float: left;
    margin:0;

}

.bannerpc{
       
        float: left;
        width: 1000px;
        height: 400px;
        background:  #ffffff;
        margin-top: 100px;
        margin-left: 15%;
 }
 .bannerpc img{
        width: 100%;
        height: 100%;
 }
 .logotipo{
        position: absolute;
        top: 15px;
        left: 5%;
        width: 290px;
        height: 95px;
        
        z-index: 31;
 }
 
 .barramenu{
        position: absolute;
        top: 10px;
        right: 25px;
        width: auto;
        height: 65px;
        z-index: 30;
        
         background-size: 100% 100%;
        background-repeat: no-repeat;
 }
 .rapido{
        position: fixed;
        right: 0px;
        top: 200px;
        width: 220px;
        height: auto;
        z-index: 70;
        
 }
 .mrapido{
        float: left;
        width: 70px;
        height: 70px;
        background: rgba(255,255,255,0.6);
        border-radius: 50%;
        margin-bottom: 10px;
 }

 .mrapido:hover{
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background: rgba(255,255,255,0.9);
}

.boxtext{
    float: left;
    width: 130px;
    margin-top: 13px;
    margin-right: 5px;
    height: 30px;
    border-radius: 14px;
    opacity: 0;
    background-color: rgba(0,0,0,0.7);
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: right;
    font-size: 14px;
    color: #fff;
    padding-top: 5%;
    padding-right: 5px;
}

.mapa{
        float: left;
        margin-top: 2px;
        width: 100%;
        height: 80%;
        background-color: #000;
    }
.colorformulario{
    background-color: #000;
    background-image: url(../imgx/escribanos2.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    width: 100vw;
    height: 110%;
    display: none; 
}

    
.formulario{
    clear: both;
    margin: 0 auto;
    width:60%;
    height: auto;
    background-color: rgba(0,0,0,0.55);
    }
    .formulario h4{
    text-align: center;
    margin-top: 100px;
    font-family: 'Questrial', sans-serif;
    font-size: 18pt;
    color: #fff;
    
    }
.formulario p{
    
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: 'arial', sans-serif;
    font-size: .9em;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
}

.formulario label {
    display:block;
    letter-spacing:1px;
   font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.formulario input{
    width:42%;
    height:30px;
    margin-left: 2%;
    margin-bottom: 2%;
    background:#fff;
    border:2px solid #fff;
    padding:15px;
    margin-top:2px;
    font-size:.8em;
    color:#000;
}
.formulario textarea {
    width:93%;
    height:80px;
    margin-left: 2%;
    margin-bottom: 2%;
    background:#fff;
    border:2px solid #fff;
    padding:15px;
    margin-top:2px;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    color:#000;
} 
#email {
    width:93%;
    height:30px;
    margin-left: 2%;
    margin-bottom: 2%;
    background:#fff;
    border:2px solid #fff;
    padding:15px;
    margin-top:2px;
    font-size:.8em;
    color:#000;
    
}
 
#submit {
    display:block;
    width:120px;
    height:50px;
    margin:0 auto;
    background-color:  #00A4D6;
    cursor:pointer;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-size:.8em;


}
#submit:hover {
    cursor:pointer;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    
}
  
  #datoscorreo{
width: 100%;
height:70px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
padding: 0px;
float: left;
 background-color: white;            

}
.maps:hover{
    -webkit-transform:scale(1.30);
    -moz-transform:scale(1.30);
    -ms-transform:scale(1.30);
    -o-transform:scale(1.00);
    transform:scale(1.30);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    background: rgba(0,0,0,0.5);
}

.lecon{
    margin:0;
    float: left;
    width:80%;
    height: auto;
    margin-left: 15%;
     display: none;
}
.unox{
    float: left;
    width: 500px;
    margin: 20px;
    margin-right: 5px;
    font-family: 'arial';
    }
    
    .unox p{
        font-family: 'Nunito', sans-serif;
        font-size: 1em;
        text-align: justify; 
        margin-right: 80px;
        margin-bottom: 10px;

    }
.unox ul li{
       list-style-type: square;
       font-size: 12px;
       color: black;
       
       
   }

h3{
     font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    margin-bottom: 10px;
   }
   
.unoxder{
    float: left;
    width: 40%;
    margin: 20px;
    margin-right: 5px;
    }
    
.unoxder p{
        font-family: 'Nunito', sans-serif;
        font-size: 12px;
        text-align: justify; 
    }
.unoxder ul li{
       list-style-type: square;
       font-family: 'Nunito', sans-serif;
      font-size: 0.86em;
       color: black;
       
   }


.contenedorreview{
    float: left;
    width: 440px;
    margin: 8px;
    margin-top: 0px;
   
}

   
.revistafoto{
    float: left;
    width: 150px;
    margin: 0px;

    -webkit-border-top-left-radius:2px;
-webkit-border-top-right-radius:2px;
-webkit-border-bottom-left-radius:2px;
-webkit-border-bottom-right-radius:2px;
    box-shadow: 0 10px 20px gray;
    }
    .revistatitulo{
    float: left;
    width: 250px;
    margin: 2px;
    padding-left: 8px;
    height: 30px;
    margin: 8px;
   }
    .revistatitulo p{
    font-size: 18px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    color: #1F140F;
   }
    .revistatexto{
    float: left;
    width: 250px;
    margin-top: 0px;
    padding-left: 15px;
       }
    .revistatexto p{
    font-size: 14px;
        text-align: left;
        font-family: arial;
        color: #000;
    
    }
   .go{
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 50px;
    height: 50px;
    z-index: 99;
    transition-duration: 0.3s;
    transition-timing-function: all;
    }
 .go img{
    width:100%;
    height: 100%;
    
    }  
  .go:hover{
    bottom: 20px;
    -webkit-transform:scale(1.30);
    -moz-transform:scale(1.30);
    -ms-transform:scale(1.30);
    -o-transform:scale(1.00);
    transform:scale(1.30);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    
  } 