.colorgris{
	background-color: #776699;
}
.lapresentacion{
	height: 50vh;
	margin-bottom: 2%;
	margin-top: 2%;
	background: rgba(41,184,229,1);
    background: -moz-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,0.99) 12%, rgba(247,247,247,0.6) 89%, rgba(247,247,247,0.57) 95%);
    background: -webkit-gradient(left top, left bottom, color-stop(10%, rgba(41,184,229,1)), color-stop(12%, rgba(41,184,229,0.99)), color-stop(89%, rgba(247,247,247,0.6)), color-stop(95%, rgba(247,247,247,0.57)));
    background: -webkit-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,0.99) 12%, rgba(247,247,247,0.6) 89%, rgba(247,247,247,0.57) 95%);
    background: -o-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,0.99) 12%, rgba(247,247,247,0.6) 89%, rgba(247,247,247,0.57) 95%);
    background: -ms-linear-gradient(top, rgba(41,184,229,1) 10%, rgba(41,184,229,0.99) 12%, rgba(247,247,247,0.6) 89%, rgba(247,247,247,0.57) 95%);
    background: linear-gradient(to bottom, rgba(41,184,229,1) 10%, rgba(41,184,229,0.99) 12%, rgba(247,247,247,0.6) 89%, rgba(247,247,247,0.57) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( 
}

.mision{
	height: auto;
	
	padding: 5%;
	margin-bottom: 10px;
}
.mision h2{
	font-family: 'Karla', sans-serif;
    font-size: 2em;
    text-align: center;
}
.mision h3{
	font-family: 'Karla', sans-serif;
    font-size: 2em;
    text-align: center;
}
.mision p{
	font-family: 'arial', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 10px;
}
